<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Servlets.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarPassword</servlet-name>
        <servlet-class>Servlets.cambiarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEntrenador</servlet-name>
        <servlet-class>Servlets.CrearEntrenador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCliente</servlet-name>
        <servlet-class>Servlets.CrearCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEjercicio</servlet-name>
        <servlet-class>Servlets.CrearEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarRutinasEntrenador</servlet-name>
        <servlet-class>Servlets.ConsultarRutinasEntrenador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEjercicios</servlet-name>
        <servlet-class>Servlets.ConsultarEjercicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarClientes</servlet-name>
        <servlet-class>Servlets.ConsultarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEntrenadores</servlet-name>
        <servlet-class>Servlets.ConsultarEntrenadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarRutinas</servlet-name>
        <servlet-class>Servlets.ConsultarRutinas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearRutina</servlet-name>
        <servlet-class>Servlets.CrearRutina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarRutina</servlet-name>
        <servlet-class>Servlets.AdicionarRutina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarRutina</servlet-name>
        <servlet-class>Servlets.ConsultarRutina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarPassword</servlet-name>
        <url-pattern>/cambiarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEntrenador</servlet-name>
        <url-pattern>/CrearEntrenador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCliente</servlet-name>
        <url-pattern>/CrearCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEjercicio</servlet-name>
        <url-pattern>/CrearEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarRutinasEntrenador</servlet-name>
        <url-pattern>/ConsultarRutinasEntrenador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEjercicios</servlet-name>
        <url-pattern>/ConsultarEjercicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarClientes</servlet-name>
        <url-pattern>/ConsultarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEntrenadores</servlet-name>
        <url-pattern>/ConsultarEntrenadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarRutinas</servlet-name>
        <url-pattern>/ConsultarRutinas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearRutina</servlet-name>
        <url-pattern>/CrearRutina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarRutina</servlet-name>
        <url-pattern>/AdicionarRutina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarRutina</servlet-name>
        <url-pattern>/ConsultarRutina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
